@use "variables" as v;
@use "anims";
.subtitulo{
     font-size: xx-large;
    text-decoration: underline;
    color: rgb(46, 5, 156);
    font-family: v.$fuente2;
    margin-top: 10%;
}
section { 
    display: grid;
    grid-template-areas:
     "at b c d"
     "e f g h";
     justify-items: center;
     align-items: center;
     .at{
    grid-area: "at";
    justify-items: center;
     align-items: center;
     height: 200px;
     width: 200px;
     &:hover{
        @extend %scaleup;
     }
}
.b{
    grid-area: "b";
    justify-items: center;
     align-items: center;
     height: 200px;
     width: 200px;
     &:hover{
        @extend %scaleup;
     }
}
.c{
    grid-area: "c";
    justify-items: center;
     align-items: center;
     height: 200px;
     width: 200px;
     &:hover{
        @extend %scaleup;
     }
}
.d{
     grid-area: "d";
     justify-items: center;
     align-items: center;
     height: 200px;
     width: 200px;
     &:hover{
        @extend %scaleup;
     }
     
}
.e{
     grid-area: "e";
     justify-items: center;
     align-items: center;
     height: 200px;
     width: 200px;
     &:hover{
        @extend %scaleup;
     }
     
}
.f{
     grid-area: "f";
     justify-items: center;
     align-items: center;
     height: 200px;
     width: 200px;
     &:hover{
        @extend %scaleup;
     }
}
.g{
     grid-area: "g";
     justify-items: center;
     align-items: center;
     height: 200px;
     width: 200px;
     &:hover{
        @extend %scaleup;
     }
}
.h{
     grid-area: "h";
     justify-items: center;
     align-items: center;
     height: 200px;
     width: 200px;
     &:hover{
        @extend %scaleup;
     }
}
.preciobarrales{
    margin: 5% ;
    display: inline-block;
    align-items:center;
    margin-bottom: 40%;
    color: rgb(67, 138, 67);
    text-decoration: solid;
    font-family: v.$fuente3;
    display: grid;
    grid-column: 4/5;
    grid-row: 4/4;
}
.preciofocoled{
    margin: 5% ;
    display: inline-block;
    align-items:center;
    margin-bottom: 40%;
    color: rgb(67, 138, 67);
    text-decoration: solid;
    font-family: v.$fuente3;
    display: grid;
    grid-column: 3/4;
    grid-row: 4/4;
}
.precioclavos{
    margin: 5% ;
    display: inline-block;
    align-items:center;
    margin-bottom: 40%;
    color: rgb(67, 138, 67);
    text-decoration: solid;
    font-family: v.$fuente3;
    display: grid;
    grid-column: 2/3;
    grid-row: 4/4;
}
.precioprecintos{
    margin: 5% ;
    display: inline-block;
    align-items:center;
    margin-bottom: 40%;
    color: rgb(67, 138, 67);
    text-decoration: solid;
    font-family: v.$fuente3;
    display: grid;
    grid-column: 1/2;
    grid-row: 4/4;
}
.preciotuercas{
    margin: 5% ;
    display: inline-block;
    align-items:center;
    margin-bottom: 40%;
    color: rgb(67, 138, 67);
    text-decoration: solid;
    font-family: v.$fuente3;
    display: grid;
    grid-column: 4/5;
    grid-row: 2/2;
}
.preciomanguera{
    margin: 5% ;
    display: inline-block;
    align-items:center;
    margin-bottom: 40%;
    color: rgb(67, 138, 67);
    text-decoration: solid;
    font-family: v.$fuente3;
    display: grid;
    grid-column: 3/4;
    grid-row: 2/2;
}
.preciotornillos{
    margin: 5% ;
    display: inline-block;
    align-items:center;
    margin-bottom: 40%;
    color: rgb(67, 138, 67);
    text-decoration: solid;
    font-family: v.$fuente3;
    display: grid;
    grid-column: 2/3;
    grid-row: 2/2;
}
.preciotriples{
    margin: 5% ;
    display: inline-block;
    align-items:center;
    margin-bottom: 40%;
    color: rgb(67, 138, 67);
    text-decoration: solid;
    font-family: v.$fuente3;
    display: grid;
    grid-column: 1/2;
    grid-row: 2/2;
    
}
}
.boton-tienda{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 10%;
    margin-left: 45%;
    font-size: large;
    font-family: v.$fuente2;
     &:hover{
      background-color: white;
    color: black;
    border-color: black;
    border-radius: 10%;
    margin-left: 45%;
    font-size: large;
    font-family: v.$fuente2;
}
}
